        body {
            margin-left: 5%;
            margin-right: 5%;
            margin-top: 0%;
            border-image-source: none;
            border-image-slice: 100%;
            border-image-width: 1;
            border-image-repeat: stretch;
            background-color: rgb(255, 255, 255);
            width: 90%;
            font-family: "montserratBlack";
        }
        
        .bienvenido {
            display: flex;
            justify-content: flex-start;
        }
        
        .img-hero {
            display: flex;
            justify-content: flex-end;
            margin-top: 0%;
        }
        
        @font-face {
            font-family: "firasans";
            src: url("../../../../assets/Assets/assets/Fonts/Fira_Sans/FiraSans-Light.ttf");
        }
        
        @font-face {
            font-family: "montserratBlack";
            src: url("../../../../assets/Assets/assets/Fonts/Montserrat/Montserrat-Light.ttf");
        }
        
        @font-face {
            font-family: "montserratBlackBold";
            src: url("../../../../assets/Assets/assets/Fonts/Montserrat/Montserrat-Bold.ttf");
        }
        
        .img-hero p {
            font-family: "montserratBlack";
            font-weight: 200;
            font-size: 40px;
            margin-top: 10%;
        }
        
        .wolox {
            font-family: "montserrat";
            font-weight: bold;
            color: #97CF00;
        }
        
        .entrevista {
            font-weight: bold;
            color: black !important;
            font-family: "montserratBlackBold";
        }
        
        .img-hero {
            display: -ms-flex;
            display: -webkit-flex;
            display: flex;
            margin-right: 5%;
            margin-top: 5%;
        }
        
        .img-hero>div {
            width: 50%;
            padding: 10px;
        }
        
        .img-hero img {
            margin-right: 5%;
            transform: rotateX(360deg) rotateY(180deg);
            margin-left: 20%;
        }
        
        .img-tech {
            display: -ms-flex;
            display: -webkit-flex;
            display: flex;
            margin-right: 5%;
            margin-top: 5%;
        }
        
        .img-tech>div {
            width: 50%;
            padding: 10px;
        }
        
        .img-tech>div:first-child {
            font-size: 30px;
            font-weight: bold;
        }
        
        .img-woloxers {
            display: -ms-flex;
            display: -webkit-flex;
            display: flex;
            margin-top: 5%;
            height: 60%;
        }
        
        .img-woloxers>div {
            width: 50%;
        }
        
        .img-woloxers>div:first-child {
            background-image: url("../../../../assets/Assets/assets/img_woloxer.png");
            margin-left: 0%;
        }
        
        .img-woloxers>div:first-child p {
            margin-top: 17%;
        }
        
        .trescin {
            color: #97CF00;
            font-weight: bold;
            font-size: 50px;
            margin-top: 50%;
            font-family: "montserratBlackBold";
        }
        
        .txtWoloxers {
            color: #00A9E5;
            font-weight: bold;
            font-size: 50px;
            margin-top: 50%;
            font-family: "montserratBlackBold";
        }
        
        .wolox-woloxers {
            color: white;
            margin-left: 2%;
            margin-top: -2%;
            font-size: 20px;
        }
        
        .img-woloxers>div:nth-child(2) {
            font-size: 40px;
            background-color: #F2F5FA;
            font-weight: bold;
        }
        
        .img-twitter {
            margin-top: 5%;
            margin-left: 2%;
        }
        
        .img-woloxers button {
            padding: 0.6em 2em;
            border-radius: 44px;
            color: white;
            font-size: 1.1em;
            border: 1px solid #00A7E8;
            cursor: pointer;
            margin: 1em;
            height: 55%;
            width: 250px;
        }
        
        .convertir {
            color: #00A9E5;
            font-weight: bold;
            font-family: "montserratBlackBold";
        }
        
        .ideas {
            color: #97CF00;
            font-weight: bold;
            font-family: "montserratBlackBold";
        }
        
        .beneficios {
            font-size: 30px;
            font-weight: bold;
            text-align: center;
        }
        
        .carita {
            color: #00A9E5;
            font-size: 30px;
        }
        
        .item-beneficios {
            display: -ms-flex;
            display: -webkit-flex;
            display: flex;
            margin-top: 5%;
            margin-left: 5%;
        }
        
        .item-beneficios>div {
            width: 17%;
            padding: 10px;
        }
        
        .item-beneficios span {
            margin-left: 5%;
        }
        
        .requerimientos {
            display: -ms-flex;
            display: -webkit-flex;
            display: flex;
            margin-top: 5%;
        }
        
        .requerimientos>div {
            width: 50%;
            padding: 10px;
        }
        
        .requerimientos>div:first-child p {
            font-size: 30px;
            font-weight: bold;
            font-family: "montserratBlackBold";
            margin-left: 13%;
            margin-top: 8%;
        }
        
        .requerimientos p {
            margin-left: 5%;
            margin-top: -4%;
            font-family: "montserratBlack";
            font-weight: bold;
        }
        
        .ejercicioCompleto {
            color: black;
            font-size: 40px;
            font-weight: bold;
            margin-top: 5%;
            background-image: url("../../../../assets/Assets/assets/Backgrounds/Bg_Footer.png");
        }
        
        .ejercicioCompleto span {
            color: #00A9E5;
            font-size: 40px;
            font-weight: bold;
        }
        
        .verMasInfo {
            font-size: 30px;
            margin-top: -2%;
        }
        
        .conocerMas {
            background-image: url("../../../../assets/Assets/assets/Backgrounds/Bg_Footer.png");
        }
        
        .conocerMas button {
            padding: 0.6em 2em;
            border-radius: 44px;
            color: white;
            font-size: 1.1em;
            border: 1px solid #00A7E8;
            cursor: pointer;
            margin: 1em;
            height: 55%;
            background-color: #00A7E8;
            width: 250px;
        }
        
        .conocerMas button:hover {
            background-color: white;
            color: #00A7E8
        }
        
        footer {
            margin-top: 5%;
            background-color: white;
            text-align: center;
            color: white;
            background-image: url('../../../../assets/Assets/assets/Backgrounds/Bg_Footer@2x.png');
        }
        
        @keyframes slidein {
            from {
                margin-left: 100%;
                width: 300%
            }
            to {
                margin-left: 0%;
                width: 100%;
            }
        }
        
        p {
            animation-duration: 3s;
            animation-name: slidein;
            animation-iteration-count: 2;
        }