<header>
    <div class="logo">
        <div>
            <img class="img" src="../../../../assets/Assets/assets/logo_full_color.svg">
        </div>
        <div class="nav">
            <div *ngFor="let item of arrayNav" class="{{item.Titulo}}">
                <a href="{{item.Href}}"><button  class="button-nav" mat-button><span>{{item.Titulo}}</span></button></a>
            </div>
            <div class="buttonLogin" *ngIf="usuarioLogin == null">
                <button mat-button (click)="redirectToLogin()" class="button"><span>Login</span></button>
            </div>
        </div>
    </div>
</header>