<header>
    <div class="logo">
        <div>
            <img class="img" src="../../../../assets/Assets/assets/logo_full_color.svg">
        </div>
        <div class="nav">
            <div>
                <a href="/landing-page#inicio"><button mat-button class="button-nav"><span>Inicio</span></button></a>
            </div>
            <div>
                <a><button mat-button class="button-nav"><span>Tecnologías</span></button></a>
            </div>
            <div>
                <a><button mat-button class="button-nav"><span>Beneficios</span></button></a>
            </div>
            <div>
                <a><button mat-button class="button-nav"><span>Requerimientos</span></button></a>
            </div>
            <div class="buttonLogin">
                <button mat-button class="button"><span>Login</span></button>
            </div>
        </div>
    </div>
</header>