body {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0%;
    border-image-source: none;
    border-image-slice: 100%;
    border-image-width: 1;
    border-image-repeat: stretch;
    background-color: rgb(255, 255, 255);
    width: 90%;
}

p {
    font-family: "montserratBlackBold";
    font-size: 45px;
    margin-right: 30%;
    margin-top: 2%;
    font-weight: bold;
}

mat-table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

input {
    width: 100%;
    border: none;
    border-bottom: 1px solid;
}

.logo {
    height: 50%;
    width: 60%;
}

table td {
    width: 10%;
}

table th {
    font-weight: bold;
}

.cantidad {
    font-weight: bold;
}

th.mat-sort-header-sorted {
    color: black;
}