<app-nav-bar></app-nav-bar>

<body>
    <div id="inicio" class="img-hero">
        <div>
            <p>
                Bienvenido a tu <br> <span class="entrevista">Entrevista Técnica</span> en <br> <span class="wolox">Wolox</span>
            </p>
        </div>
        <div>
            <img src="../../../../assets/Assets/assets/Img Hero/Ic_ilustra_Hero.png">
        </div>
    </div>

    <div id="tecnologias" class="img-tech">
        <div>
            <p style="margin-top:20%">Estamos buscando <br> para incorporar gente <br> increíble para estas <br> tecnologías:
            </p>
        </div>
        <div>
            <img src="../../../../assets/Assets/assets/Ic_Tecnologys.svg">
        </div>
    </div>

    <div class="img-woloxers">
        <div align="center">
            <p><span class="trescin">350 + </span><span class="txtWoloxers">Woloxers</span></p>
            <div>
                <img src=""><a href="https://twitter.com/Wolox"><button mat-button>Síguenos</button></a>
            </div>
        </div>
        <div align="center">
            <p style="margin-top:10%">Trabajamos para <br> <span class="convertir">convertir</span> <span class="ideas"> ideas</span> en <br> productos.
            </p>
        </div>
    </div>
    <div id="beneficios" class="beneficios">
        <p>Entre los beneficios que ofrecemos se encuentran <span class="carita">;)</span></p>
    </div>

    <div class="item-beneficios">
        <div><img src="../../../../assets/Assets/assets/reloj.png">
            <p>Flexibilidad <br align="center"> Horaria
            </p>
        </div>
        <div><img src="../../../../assets/Assets/assets/home-office.png">
            <p>Home Office</p>
        </div>
        <div><img src="../../../../assets/Assets/assets/workshoop.png">
            <p>Capacitaciones <br> y workshops</p>
        </div>
        <div><img src="../../../../assets/Assets/assets/drink-snack.png">
            <p>Snacks, frutas <br> y bebidas gratis</p>
        </div>
        <div><img src="../../../../assets/Assets/assets/notebook.png">
            <p>Semana <br> Remota</p>
        </div>
        <div><img src="../../../../assets/Assets/assets/cerebro.png">
            <p>Trabajar <br> en ultimas <br> tecnologías</p>
        </div>
    </div>

    <div id="requerimientos" class="requerimientos">
        <div>
            <p>Requerimientos</p>
        </div>
        <div>
            <img class="alineado" src="../../../../assets/Assets/assets/bullet1.png"> Estudiantes avanzados o recibidos de carreras del rubro <br> informático, sistemas o electrónicos.<br><br>
            <img class="alineado" src="../../../../assets/Assets/assets/bullet2.png"> Inglés intermedio / avanzado.<br><br>
            <img class="alineado" src="../../../../assets/Assets/assets/bullet3.png"> Conocimiento de metodologías ágiles (deseable).<br>
        </div>
    </div>
    <div align="center" class="ejercicioCompleto">
        <p>Gracias por <span>completar el ejercicio</span></p>
    </div>
    <div class="verMasInfo" align="center">
        <p>Te invitamos a ver mas información</p>
    </div>
    <div align="center" class="conocerMas">
        <a href="https://wolox.com.ar"><button mat-button>Conocer más</button></a>
    </div>
    <footer>
        <div>
            <img src="../../../../assets/Assets/assets/Ic_Wolox_Footer.svg">
        </div>
    </footer>
</body>