.is-invalid {
    color: red;
}

.invalid {
    color: red;
    margin-top: -8%;
}

body {
    margin: 0;
    padding: 0;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
    width: 100%;
    background-image: url("../../../../assets/Assets/assets/Backgrounds/wolox-fondo.jpg");
}

.login-box {
    width: 320px;
    height: 420px;
    color: black;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border: solid #00A7E8;
    margin-left: 20%;
}

.login-box .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -20px;
    left: calc(50% - 50px);
}

.login-box h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.login-box label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
}

.login-box input {
    width: 100%;
    margin-bottom: 20px;
}

.login-box input[type="email"],
.login-box input[type="password"] {
    border: solid black;
    background: transparent;
    outline: none;
    height: 40px;
    color: black;
    font-size: 16px;
    margin-top: 5%;
}

.login-box input[type="submit"] {
    border: solid black;
    outline: none;
    height: 40px;
    background: white;
    color: #00A7E8;
    font-size: 18px;
    border-radius: 20px;
}

.login-box input[type="submit"]:hover {
    cursor: pointer;
    background: #00A7E8;
    color: white;
}

.login-box a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}

.login-box a:hover {
    color: #fff;
}

.checkbox {
    border: white;
    margin-left: 20%;
}

.login {
    margin-top: 10%;
    margin-left: 5%;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #00A7E8;
}